In [1]:
import numpy as np
import pandas as pd

In [2]:
csvfile=pd.read_csv(r'C:\Users\user\Desktop\1.csv')

In [3]:
csvfile

,Series reference,Period,Description,Revised,Initially published
0,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
1,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
2,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
3,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
4,2019.09,PPIQ.SQN900000,"All industries, Inputs Indexes (Level 0)",1166,1164
...,...,...,...,...,...
62,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
63,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
64,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
65,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
66,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [5]:
csvfile=pd.read_csv(r'C:\Users\user\Desktop\1.csv',header=None)

In [6]:
csvfile

,0,1,2,3,4
0,Series reference,Period,Description,Revised,Initially published
1,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
2,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
3,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
4,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
...,...,...,...,...,...
63,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
64,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
65,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
66,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
67,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [8]:
csvfile=pd.read_csv(r'C:\Users\user\Desktop\1.csv',names=['wwhite','red','yellow','orange','pink'])

In [9]:
csvfile

,wwhite,red,yellow,orange,pink
0,Series reference,Period,Description,Revised,Initially published
1,2019.09,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1167,1164
2,2019.12,PPIQ.SQN800000,"All industries excl admin health educati, Inpu...",1170,1166
3,2019.09,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1167,1164
4,2019.12,PPIQ.SQN800001,"All industries ex admin health edu OOD, Inputs...",1170,1166
...,...,...,...,...,...
63,2019.12,PPIQ.SQUCC1300,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
64,2019.09,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1243,1241
65,2019.12,PPIQ.SQUCC1310,"Dairy Product Manufacturing, Outputs Indexes (...",1220,1217
66,2019.12,PPIQ.SQUCC3200,"Pulp, Paper and Converted Paper Product, Outpu...",1015,1014
67,2019.12,PPIQ.SQUCC3210,"Pulp, Paper and Converted Paper Product Manufa...",1015,1014

In [16]:
csvfile=pd.read_csv(r'C:\Users\user\Desktop\1.csv',index_col=['Period','Revised'])

In [17]:
csvfile

                        Series reference  \
Period         Revised
PPIQ.SQN800000 1167              2019.09
               1170              2019.12
PPIQ.SQN800001 1167              2019.09
               1170              2019.12
PPIQ.SQN900000 1166              2019.09
...                                  ...
PPIQ.SQUCC1300 1220              2019.12
PPIQ.SQUCC1310 1243              2019.09
               1220              2019.12
PPIQ.SQUCC3200 1015              2019.12
PPIQ.SQUCC3210 1015              2019.12

                                                              Description  \
Period         Revised
PPIQ.SQN800000 1167     All industries excl admin health educati, Inpu...
               1170     All industries excl admin health educati, Inpu...
PPIQ.SQN800001 1167     All industries ex admin health edu OOD, Inputs...
               1170     All industries ex admin health edu OOD, Inputs...
PPIQ.SQN900000 1166              All industries, Inputs Indexes (Level 0)
...                                                                   ...
PPIQ.SQUCC1300 1220     Dairy Product Manufacturing, Outputs Indexes (...
PPIQ.SQUCC1310 1243     Dairy Product Manufacturing, Outputs Indexes (...
               1220     Dairy Product Manufacturing, Outputs Indexes (...
PPIQ.SQUCC3200 1015     Pulp, Paper and Converted Paper Product, Outpu...
PPIQ.SQUCC3210 1015     Pulp, Paper and Converted Paper Product Manufa...

                        Initially published
Period         Revised
PPIQ.SQN800000 1167                    1164
               1170                    1166
PPIQ.SQN800001 1167                    1164
               1170                    1166
PPIQ.SQN900000 1166                    1164
...                                     ...
PPIQ.SQUCC1300 1220                    1217
PPIQ.SQUCC1310 1243                    1241
               1220                    1217
PPIQ.SQUCC3200 1015                    1014
PPIQ.SQUCC3210 1015                    1014

[67 rows x 3 columns]